
.modal-entry,
.modal-registration,
.modal-join {
   display: none;
   position: relative;
   z-index: 50;
}

.modal-overlay {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0, 0, 0, .5);
   transition: background .2s ease-in;
}

.modal-window__entrance {
   z-index: 100;
   width: 400px;
   border-radius: 25px;
   background: linear-gradient(110deg, #1f1e1d, #131212, #1d1402 );
   margin: 0 auto;
   transform: translateY(70px);
   transition: transform .2s ease-in;
   opacity: 1;
}

.modal-window__registration,
.modal-window__join {
   width: 400px;
   border-radius: 25px;
   background: linear-gradient(110deg, #1f1e1d, #131212, #1d1402 );
   margin: 0 auto;
   transform: translateY(70px);
   transition: transform .2s ease-in;
   z-index: 100;
   opacity: 1;
}

.modal-window__close {
   
   display: flex;
   justify-content: end;
  
}

.modal-window__close-img {
   margin: 15px 15px 0 0;
   padding: 5px;
   width: 25px;
   height: 25px;
   cursor: pointer;
   border: 1px solid #e9ad0671;
   border-radius: 15px;
}

.modal-header {
   padding: 25px 0 25px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal-header__avatar {
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 2px solid #e9ad0671;
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal-header__avatar-svg {
   width: 50px;
   height: 50px;
}

.modal-content {
   padding: 50px;
}

.modal-content__form-user {
   position: relative;
}

.modal-content__form-user input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}



.modal-content__form-user label {
   position: absolute;
   top:0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.modal-content__form-pass {
   position: relative;
}

.modal-content__form-pass input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.modal-content__form-pass label {
   position: absolute;
   top:0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.modal-content__form-user input:focus ~ label,
.modal-content__form-user input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ecd609;
  font-size: 12px;
}

.modal-content__form-pass input:focus ~ label,
.modal-content__form-pass input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f4dc03;
  font-size: 12px;
}

.modal-content__form-submit {
   display: flex;
   justify-content: center;
}

.modal-content__form-submit input {
   width: 182.15px;
   height: 52.92px;
   border-radius: 20px;
   background: var(--gold);
   border: solid 1.85px #f0ac52;
   cursor: pointer;
}

.modal-content__form-submit input:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}