
@import url('./modal.css');

:root {
   --gold: linear-gradient(to right,#eebb52, #f2ed70, #eebb52);
   --bg-modal: linear-gradient(45deg, #efbd53 31%, #efbd53 9%, #0e0b05 0.55%,) ;
   --gold-priorites:linear-gradient(180deg, rgba(239, 189, 83, 0.31) -11.48%, rgba(239, 189, 83, 0.09) 81.21%, rgba(14, 11, 5, 0.01) 173.89%);
   --color-title: #f0ac52;
}
@font-face {
   font-family: Montserrat;
   src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
   box-sizing: border-box;
   background: #000;
   font-family: Montserrat;
   
}
ul {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

.button-color {
   background: var(--gold);
   box-shadow: 0px 4px 0px 0px #a48426 ;
}



.page {
   width: 1920px;
   
}

.page--noscrol {
   position: fixed;
}

.page-container {
   width: 1600px;
   margin: 0 auto;
}

.header {
   margin-top: 65.79px;
   
}

.header-container {
   width: 1601px;
   display: flex;
   align-items: center;
   justify-content: end;
}

.header-languageselection {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   
   
}

.language-item {
   text-decoration: none;
   display: flex;
   justify-content: flex-start;
}

.language-item--active {
   opacity: 1;
   z-index: 2;
}

/* .language-item--open-ru {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(48px);
   transition: transform .5s ease-in;
   z-index: 1;
   
} */

.language-item--open-up {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   transform: translateY(48px);
   transition: transform .5s ease-in;
}

.language-item--open-dw {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   transform: translateY(96px);
   transition: transform .5s ease-in;
}

.language-item--hide {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transform: translateY(0px);
   transition: transform 0.5s ease-out;
}

.language-link {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 28px;
   
}

.header-languageselection__img {
   margin-right: 9px;
   width: 38px;
   height: 38px;
   
}


.header-languageselection__img--flag-ru {
   background-image: url(../images/header/flag.png);
}

.header-languageselection__img--flag-en {
   background-image: url(../images/header/flag-en.png);
   background-size: 130%;
   background-position: center center;
}

.header-languageselection__img--flag-cn {
   background-image: url(../images/header/flag-cn.png);
   background-position: center center;
}
.header-languageselection__block {
   display: flex;
   align-items: center;
}

.header-languageselection__block-text {
   margin-right: 11.84px;
   text-transform: uppercase;
   color: #fff;
}

.header-languageselection__icon-down {
   width: 14.77px;
   height: 8.62px;
   background-image: url(../images/header/icon/Icon.png);
   cursor:pointer ;
   z-index: 1;
   transform: rotate(0deg);
   transition: transform .5s ease-in;
}


.header-languageselection__icon-up {
   width: 14.77px;
   height: 8.62px;
   background-image: url(../images/header/icon/Icon.png);
   cursor:pointer ;
   transform: rotate(180deg);
   transition: transform .5s ease-in;
   z-index: 1;
}

.header-line {
   height: 75.54px;
   width: 0;
   border: solid 1.23px #ffffff4b;
   margin-right: 28px;
}

.header-btn {
   display: flex;
   
}

.header-btn__color {
   background: var(--gold);
   border: solid 1.85px #f0ac52;
}


.header-btn__login {
   position: relative;
   width: 182.15px;
   height: 52.92px;
   display: flex;
   justify-content: center;
   border-radius: 12.31px;
   margin-right: 14px;
   cursor:pointer ;
   z-index: 1;
}

.header-btn__login-text {
   font-weight: 500;
   font-size: 18px;
   line-height: 21.94px;
}

.header-btn__login:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

.header-btn__registration {
   width: 197.57px;
   height: 52.92px;
   display: flex;
   justify-content: center;
   border-radius: 12.31px;
   cursor: pointer;
   z-index: 1;
}

.header-btn__login-text {
   font-weight: 500;
   font-size: 18px;
   line-height: normal;
}

.header-btn__registration:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

.concept {
   margin-bottom: 290px;
}

.concept-baner {
   position: relative;
   display: flex;
   justify-content: space-between;
}

.imgcasino {
   width: 1180.42px;
   height: 758px;
   position: absolute;
   top: 105.67px;
   right: -160px;
}

.imgellipse4 {
   position: absolute;
   top: -146px;
   right: -160px;
   z-index: -10;
}

.imgellipse5 {
   position: absolute;
   top: 63px;
   right: -161px;
}

.imgellipse6 {
   position: absolute;
   top: 123px;
   right: -156px;
}

.concept-info {
   width: 1348px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
}

.concept-title {
   margin-top: 88px;
   margin-bottom: 25px;

}

.concept-title__exclusive {
   padding: 0;
   margin: 0;
   font-size: 70px;
   font-weight: 700;
   color: #fff;
   line-height: 85.33px;
}

.concept-title__exclusive.title--color,
.advantages-title__text.title--color,
.conditions-title__text.title--color {
   color: var(--color-title);
}

.concept-text__proposal {
   margin: 0;
   font-size: 32px;
   font-weight: 500;
   color: #fff;
   line-height: 39.01px;
   
}

.concept-text {
   margin-bottom: 83px;
}

.concept-btn {
   width: 416px;
   height: 82px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 700;
   line-height: 24.38px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

.concept-btn:hover{
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

.concept-images {
   position: relative;
   width: 908.65px;
   height: 765.11px;
   margin-right: -161px;

}

.phone {
   position: absolute;
   top: 133px;
   left: 132px;
}

.coin {
   width: 65.82px;
   height: 61.83px;
   position:absolute;
   top: 76px;
   left: -152px;
}

.coin1 {
   position:absolute;
   top: 164px;
   left: -150px;
}

.coin2 {
   position:absolute;
   top: 96px;
   left: -5px;
}

.coin3 {
   position:absolute;
   bottom: 359px;
   right: 66px;
   transform: rotate(37.57deg);
}

.coin4 {
   position:absolute;
   bottom: -64px;
   left: 170px;
}

.coin5 {
   position:absolute;
   bottom: -112px;
   left: -139px;
}

/*     Наши преимущества      */

.advantages {
   position: relative;
   margin-bottom: 176.5px;
}

.lighting {
   z-index: 0;
   position: absolute;
   top: -62px;
   left: -159px;
}

.playing-cardsup {
   position: absolute;
   bottom: -89px;
   left: -161px;
}

.advantages-title {
   display: flex;
   margin-bottom: 76px;
}

.advantages-title__text {
   padding: 0;
   margin: 0;
   margin-right: 10px  ;
   font-size: 50px;
   font-weight: 600;
   line-height: normal;
    text-transform: uppercase;
   color: #fff;
}

/* .advantages-title__color {
   color: #f0ac52;
} */

/* Карточки */

.advantages-card {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   margin-bottom: 47.5px;
}

.advantages-item {
   margin-bottom: 31px;
   width: 513px;
   height: 318px;
   border-radius: 20px;
   border: 1px solid #F0AC52;
   background: var(--gold-priorites);
}

.advantages-item__icon {
   margin-top: 36.5px;
   margin-left: 59px;
   margin-bottom: 43px;
}


.advantages-item__title {
   margin: 0;
   color: #fff;
   font-size: 26px;
   font-style: normal;
   font-weight: 500;
   line-height: 28.099px; /* 108.074% */
   letter-spacing: 0.78px;
   margin-left: 59px;
}

.advantages-btn {
   display: flex;
   justify-content: center;
   
}

.advantages-btn__join {
   width: 318px;
   height: 82px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 700;
   line-height: 24.38px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   z-index: 1;
}

.advantages-btn__join:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

/* conditions */

.conditions {
   position: relative;
   margin-bottom: 178px;
}

.playing-cardsdown {
   position: absolute;
   top: -88px;
   left: -161px;
}

.conditions-content {
   border: solid 1px #F0AC52;
   border-radius: 50px;
   backdrop-filter: blur(10px);
   background-color: #ffffff0c;
   
}

.conditions-title {
   display: flex;
   justify-content: center;
}

.conditions-title__text {
   color: #fff;
   font-size: 50px;
   font-weight: 600;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-right: 10px;
   margin-bottom: 64px;
}



.conditions-item {
   width: 420px;
   height: 239px;
   border: 1px solid #fff;

   border-radius: 20px;
   margin-right: 35px;
   margin-bottom: 30px;
   list-style-type: none;
}

.conditions-card {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:center;
}

.conditions-decortext {
   text-align: center;
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   background: var(--gold-priorites);
   background-clip: text;
   -webkit-text-stroke: 0.8px #F0AC52;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 0;
   margin-top: 36px;
   margin-bottom: 10px;
}

.conditions-text {
   color: #FFF;
   text-align: center;
   font-size: 26px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0;
}

.conditions-decortext--size {
   font-size: 40px;
   line-height: 49px;
   letter-spacing: -0.12em;

}

.conditions-lighting {
   position: absolute;
   bottom: -130px;
   right: -156px;
}

/* partners */
.partners {
   margin-bottom: 178px;
}


.partners-title__text {
   color: #FFF;
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 76px;
}

.partners-list {
   display: flex;
   flex-wrap: wrap;
 
   align-items: center;
   justify-content:space-between;
   
}

.partners-item {
   margin-right: 58px;
}



.partners-item:nth-child(6n) {
   margin-right: 0;
}

.partners-img {

   width: 218px;
   height: 102px;
}

/* reviews  */

.reviews {
   width: 100%;
   position: relative;
   margin-bottom: 79px;
}

.reviews-title__text {
   color: #FFF;
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 76px;
}

.reviews-content {
   display: flex;
   justify-content: center;
   margin-bottom: 89px;
}

.reviews-screen {
   width: 1056px;
   height: 393px;
   border: 2px solid #f0ac52;
}

.reviews-header {
   border-bottom: 2px solid #f0ac52;
}

.reviews-header__points {
   display: flex;
   margin-top: 20px;
   margin-left: 47px;
   margin-bottom: 20px;
}

.reviews-header__points-indicator {
   margin-right: 5px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #F0AC52;
}

.reviews-header__points-indicator.reviews-header__points-indicator--active {
   background-color: #fcfbf9;
}  

.reviews-logo {
   display: flex;
   margin-top: 40px;
   margin-left: 47px;
   margin-bottom: 36px;
}

.reviews-logo__img {
  margin-right: 20px;
}

.reviews-info__title {
   color: #FFF;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 145%; /* 23.2px */
}

.reviews-info__profile {
   color: #989898;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 145%; /* 23.2px */
}

.reviews-comment {
   display: flex;
}

.reviews-message {
   position: relative;
   width: 785px;
   margin-left: -136px;
   background-color: #fff;
   padding: 42px 48px 41px 49px;
   margin-right: 62px;
}

.reviews-message__text {
   padding: 0;
   margin: 0;
   width: 688px;
   color: #000;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 145%; /* 23.2px */
}

.reviews-img {
   margin-top: -91px;
   margin-bottom: 58px;
   opacity: 1;
}

.reviews-massage__quotationmarks {
   position: absolute;
   top: -21px;
   right: 86px;
}

.reviews-arrows {
   width: 1328px;
   margin-left: 126px;
   display: flex;
   justify-content:space-between;
}

.reviews-arrows__link-left{
   z-index: 1;
}

.reviews-arrows__link-right {
   margin-top: 25px;
   z-index: 1;
}

.reviews-backgroundpicture {
   width: 580px;
   height: 639px;
   position: absolute;
   top: 33px;
   right: -159px;
}

.reviews-backgroundligth {
   position: absolute;
   bottom: -79px;
   right: -158px;
   z-index: 0;
}

/* footer  */

.footer {
  
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-content {
   width: 800px;
   margin-top: 72px;
   margin-bottom: 88px;
}
  

.footer-content__title {
   margin: 0;
   color: #FFF;
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 42px;
}

.footer-content__button {
   display: flex;
   justify-content: space-between;
}

.footer-content__btn {
   width: 390px;
   height: 79px;
   border-radius: 10px;
   font-size: 17px;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

.footer-content__btn:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

