
@import url('./modal.css');

:root {
   --gold: linear-gradient(to right,#eebb52, #f2ed70, #eebb52);
   --bg-modal: linear-gradient(45deg, #efbd53 31%, #efbd53 9%, #0e0b05 0.55%,) ;
   --gold-priorites:linear-gradient(180deg, rgba(239, 189, 83, 0.31) -11.48%, rgba(239, 189, 83, 0.09) 81.21%, rgba(14, 11, 5, 0.01) 173.89%);
   --color-title: #f0ac52;
}
@font-face {
   font-family: Montserrat;
   src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
   box-sizing: border-box;
}

body {
   
   background: #000;
   font-family: Montserrat;
   font-size: 1rem;
   margin: 0;
   padding: 0;
}

ul {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

.button-color {
   background: var(--gold);
   box-shadow: 0px 4px 0px 0px #a48426 ;
}



.page {
  /* width: 120em; */
  max-width: 100%;
}

.page--noscrol {
   position: fixed;
}

.page-container {
   /* max-width: 83%; */
   max-width: 100em;
   margin: 0 auto;
   padding-top: 4.1119em;
}

.header {
   z-index: 2;
}

.header-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.header-languageselection {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.language-item {
   text-decoration: none;
   display: flex;
   justify-content: flex-start;
}

.language-item--active {
   opacity: 1;
   z-index: 2;
}

.language-item--open-up {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   transform: translateY(48px);
   transition: transform .5s ease-in;
}

.language-item--open-dw {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   transform: translateY(96px);
   transition: transform .5s ease-in;
}

.language-item--hide {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transform: translateY(0px);
   transition: transform 0.5s ease-out;
}

.language-link {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1.75em;
   
}

.header-languageselection__img {
   margin-right: 0.5625em;
   width: 2.375em;
   height: 2.375em;
   
}


.header-languageselection__img--flag-ru {
   background-image: url(../images/header/flag.png);
   background-position: center center;
}

.header-languageselection__img--flag-en {
   background-image: url(../images/header/flag-en.png);
   background-size: 130%;
   background-position: center center;
}

.header-languageselection__img--flag-cn {
   background-image: url(../images/header/flag-cn.png);
   background-position: center center;
}
.header-languageselection__block {
   display: flex;
   align-items: center;
}

.header-languageselection__block-text {
   margin-right: 0.74em;
   text-transform: uppercase;
   color: #fff;
}

.header-languageselection__icon-down {
   width: 0.923125em;
   height: 0.53875em;
   background-image: url(../images/header/icon/Icon.png);
   cursor:pointer ;
   z-index: 1;
   transform: rotate(0deg);
   transition: transform .5s ease-in;
}


.header-languageselection__icon-up {
   width: 0.923125em;
   height: 0.53875em;
   background-image: url(../images/header/icon/Icon.png);
   cursor:pointer ;
   transform: rotate(180deg);
   transition: transform .5s ease-in;
   z-index: 1;
}

.header-line {
   height: 4.72125em;
   width: 0;
   border: solid 1.23px #ffffff4b;
   margin-right: 1.75em;
}

.header-btn {
   display: flex;
   
}

.header-btn__color {
   background: var(--gold);
   border: solid 1.85px #f0ac52;
}


.header-btn__login {
   position: relative;
   width: 11.384375em;
   /* height: 3.3075em; */
   display: flex;
   justify-content: center;
   border-radius: 12.31px;
   margin-right: 0.875em;
   cursor:pointer ;
   z-index: 1;
}

.header-btn__login-text {
   font-weight: 500;
   font-size:1.125rem;
   line-height: 1.21888889em;
}

.header-btn__login:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

.header-btn__registration {
   width: 12.348125em;
   /* height: 3.3075em; */
   display: flex;
   justify-content: center;
   border-radius: 12.31px;
   cursor: pointer;
   z-index: 1;
}

.header-btn__registration-text {
   font-weight: 500;
   font-size: 1.125rem;
   line-height: normal;
}

.header-btn__registration:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

.concept {
   margin-bottom: 18.125em;
}

.concept-baner {
   position: relative;
   display: flex;
   justify-content: space-between;
   padding-top: 13.0625em;
}

/* .imgcasino {
   width: 73.77625em;
   height: 47.375em;
   position: absolute;
   top: 105.67px;
   right: -160px;
} */

.imgcasino {
   width: 73.0878em;
   height: 47.375em;
   position: absolute;
   /* top: 105.67px;
   right: -160px; */
   top:25%;
   right: -10%;
}

/* .imgellipse4 {
   position: absolute;
   top: -146px;
   right: -160px;
   z-index: -10;
} */

.imgellipse4 {
   position: absolute;
   /* width: 47.375em;
   height: 29.0625em; */
   top: -27%;
   right: -10.1%;
   /* z-index: -10; */   
}

/* .imgellipse5 {
   position: absolute;
   top: 63px;
   right: -161px;
} */

.imgellipse5 {
   position: absolute;
   top: 15.532%;
   right: -10%;
}

/* .imgellipse6 {
   position: absolute;
   top: 123px;
   right: -156px;
} */

.imgellipse6 {
   position: absolute;
   top: 27.405%;
   right: -10%;
}

.phone {
   max-width: 19.375em;
   position: absolute;
   top: 27.4304%;
   right: 6.3222%;
}

.coin {
   width: 4.11375em;
   height: 3.864375em;
   position:absolute;
   top: 20%;
   left: 57%;
}

.coin1 {
   position:absolute;
   top: 33%;
   left: 58%;
}

.coin2 {
   position:absolute;
   top: 24%;
   left: 66%;
}

.coin3 {
   position:absolute;
   bottom: 34%;
   right: -6%;
   transform: rotate(37.57deg);
}

.coin4 {
   position:absolute;
   bottom: -23%;
   right: -10%;
}

.coin5 {
   position:absolute;
   bottom: -29%;
   right: 13%;
}


.concept-info {
   width: 84.25em;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   z-index: 10;
}

.concept-title {
   margin-top: 5.5em;
   margin-bottom: 1.5625em;
}

.concept-title__exclusive {
   padding: 0;
   margin: 0;
   font-size: 4.375rem;
   font-weight: 700;
   color: #fff;
   line-height: 85.33px;
}

.concept-title__exclusive.title--color,
.advantages-title__text.title--color,
.conditions-title__text.title--color {
   color: var(--color-title);
}

.concept-text__proposal {
   margin: 0;
   font-size: 2rem;
   font-weight: 500;
   color: #fff;
   /* line-height: 39.01px; */
   
}

.concept-text {
   margin-bottom: 5.1875em;
}

.concept-btn {
   /* width: 26em; */
   /* height: 82px; */
   padding: 1.45em 5.05em 1.45em 5.05em;
   border-radius: 10px;
   font-size: 1.25rem;
   font-weight: 700;
   /* line-height: 24.38px; */
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

.concept-btn:hover{
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

/* .concept-images {
   position: relative;
   width: 908.65px;
   height: 765.11px;
   margin-right: -161px;

} */

/* .phone {
   position: absolute;
   top: 133px;
   left: 132px;
} */



/*     Наши преимущества      */

.advantages {
   position: relative;
   margin-bottom: 9.59375em;
}

.lighting {
   z-index: 0;
   position: absolute;
   top: -6%;
   left: -11%;
}

.playing-cardsup {
   position: absolute;
   bottom: -8.5%;
   left: -10.4%;
}

.advantages-title {
   width: 100%;
   display: flex;
   margin-bottom: 4.75em;
}

.advantages-title__text {
   /* padding: 0; */
   /* width: 100%; */
   margin: 0;
   margin-right: 0.2em;
   font-size: 3.125rem;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
}

/* .advantages-title__color {
   color: #f0ac52;
} */

/* Карточки */

.advantages-card {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   margin-bottom: 2.96875em;
}

.advantages-item {
   margin-bottom: 1.9375em;
   width: 32.0625em;
   height: 19.875em;
   border-radius: 20px;
   border: 1px solid #F0AC52;
   background: var(--gold-priorites);
}

.advantages-item__icon {
   margin-top: 2.28125em;
   margin-left: 3.6875em;
   margin-bottom: 2.6875em;
}


.advantages-item__title {
   margin: 0;
   color: #fff;
   font-size: 1.625rem;
   font-style: normal;
   font-weight: 500;
   line-height: 108.074%; /* 108.074% */
   letter-spacing: 0.78px;
   margin-left: 2.26923077em;
}

.advantages-btn {
   display: flex;
   justify-content: center;
   
}

.advantages-btn__join {
   width: 15.9em;
   height: 4.1em;
   border-radius: 10px;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 1.219em;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   z-index: 1;
}

.advantages-btn__join:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

/* conditions */

.conditions {
   position: relative;
   margin-bottom: 11.125em;
}

.playing-cardsdown {
   position: absolute;
   top: -9.3%;
   left: -10.4%;
}

.conditions-content {
   border: solid 1px #F0AC52;
   border-radius: 3.125rem;
   backdrop-filter: blur(10px);
   background-color: #ffffff0c;
   
}

.conditions-title {
   display: flex;
   justify-content: center;
}

.conditions-title__text {
   color: #fff;
   font-size: 3.125rem;
   font-weight: 600;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-right: 0.2em;
   margin-bottom: 1.28em;
}

.conditions-card {
   padding: 0;
   padding-bottom: 3.75em;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:center;
}

.conditions-item {
   /* width: 420px; */
   width: 30%;
   height: 14.9375em;
   border: 1px solid #fff;
   border-radius: 20px;
   margin-right: 2.1875em;
   margin-bottom: 1.875em;
   list-style-type: none;
}

.conditions-item:nth-child(3n) {
   margin-right: 0;
}



.conditions-decortext {
   text-align: center;
   font-size: 3.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   background: var(--gold-priorites);
   background-clip: text;
   -webkit-text-stroke: 0.8px #F0AC52;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 0.72em 0 0.2em 0;
   /* margin-top: 36px;
   margin-bottom: 10px; */
}

.conditions-text {
   color: #FFF;
   text-align: center;
   font-size: 1.625rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0;
}

.conditions-decortext--size {
   font-size: 2.5rem;
   /* line-height: 49px; */
   letter-spacing: -0.12em;

}

.conditions-lighting {
   position: absolute;
   bottom: -17%;
   right: -10%;
}

/* partners */
.partners {
   width: 100%;
   margin: 0 auto;
   margin-bottom: 11.125em;
}


.partners-title__text {
   color: #FFF;
   font-size: 3.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 1.5em;
}

.partners-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   width: 100%;
}

.partners-item {
   margin-right: 3.5625em;
}



.partners-item:nth-child(6n) {
   margin-right: 0;
}

.partners-img {

   width: 13.625em;
   height: 6.375em;
}

/* reviews  */

.reviews {
   width: 100%;
   position: relative;
   margin-bottom: 4.9375em;
}

.reviews-title__text {
   color: #FFF;
   font-size: 3.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 1.52em;
}

.reviews-content {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 5.5625em;
}

.reviews-screen {
   /* width: 66em; */
   width: 66%;
   height: 24.5625em;
   border: 2px solid #f0ac52;
}

.reviews-header {
   border-bottom: 2px solid #f0ac52;
}

.reviews-header__points {
   display: flex;
   margin-top: 1.25em;
   margin-left: 2.9375em;
   margin-bottom: 1.25em;
}

.reviews-header__points-indicator {
   margin-right: 0.3125em;
   width: 0.75em;
   height: 0.75em;
   border-radius: 50%;
   background-color: #F0AC52;
}

.reviews-header__points-indicator.reviews-header__points-indicator--active {
   background-color: #fcfbf9;
}  

.reviews-logo {
   display: flex;
   margin-top: 2.5em;
   margin-left: 2.9375em;
   margin-bottom: 2.25em;
}

.reviews-logo__img {
  margin-right: 1.25em;
}

.reviews-info__title {
   color: #FFF;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   line-height: 145%; /* 23.2px */
}

.reviews-info__profile {
   color: #989898;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   line-height: 145%; /* 23.2px */
}

.reviews-comment {
   width: 122%;
   display: flex;
}

.reviews-message {
   position: relative;
   /* width: 785px; */
   width: 68.4%;
   margin-left: -8.5em;
   margin-right: 3.875em;
   background-color: #fff;
   padding: 2.625em 3em 2.5625em 3.0625em;
}

.reviews-message__text {
   padding: 0;
   margin: 0;
   /* width: 688px; */
   width: 100%;
   color: #000;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   /* line-height: 145%; 23.2px */
}

.reviews-img {
   width: 50%;
   margin-top: -7.6875em;
   margin-bottom: 3.625em;
   opacity: 1;
}

.reviews-massage__quotationmarks {
   position: absolute;
   top: -8%;
   right: 13%;
}

.reviews-arrows {
   /* width: 83em; */
   width: 83%;
   margin-left: 7.875em;
   display: flex;
   justify-content:space-between;
}

.reviews-arrows__link-left{
   z-index: 1;
}

.reviews-arrows__link-right {
   margin-top: 1.5625em;
   z-index: 1;
}

.reviews-backgroundpicture {
   width: 36.25em;
   height: 39.9375em;
   position: absolute;
   top: 5%;
   right: -10%; 
}

.reviews-backgroundligth {
   position: absolute;
   bottom: -8%;
   right: -10%;
   z-index: 0;
}

/* footer  */

.footer {
  
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-content {
   width: 49.99%;
   margin-top: 4.5em;
   margin-bottom: 5.5em;
}
  

.footer-content__title {
   margin: 0;
   color: #FFF;
   font-size: 3.125em;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 0.84em;
}

.footer-content__button {
   display: flex;
   justify-content: space-between;
   max-width: 100%;
}

.footer-content__btn {
   width: 22.9411765em;
   height: 4.64705882em;
   border-radius: 10px;
   font-size: 1.0625rem;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

.footer-content__btn:hover {
   background: #000;
   border: solid 1.85px #f0ac52;
   color: #f0ac52;
}

/* desktop first*/

@media (max-width: 1280px) {
   .page-container {
      /* max-width: 83%; */
      width: 83%;
      margin: 0 auto;
      padding-top: 4.1119em;
   }
   .playing-cardsup {
      position: absolute;
      bottom: -6.2%;
      left: -10.4%;
   }
   .partners-item {
      margin-right: 3.5625em;
   }
   .partners-item:nth-child(6n) {
      margin-right: 3.5625em;
   }
   .reviews-content {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 11.563em;
   }
   .footer-content {
      width: 80%;
      margin-top: 4.5em;
      margin-bottom: 5.5em;
   }
}


@media (max-width: 800px) {
   .advantages-card {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:center;
      margin-bottom: 2.96875em;
   }
   .playing-cardsdown {
      position: absolute;
      top: -0.8%;
      left: -10.4%;
   }
   .conditions-lighting {
      position: absolute;
      bottom: 0%;
      right: -10%;
   }
   .conditions-item {
      /* width: 420px; */
      width: 40%;
      height: 11.9375em;
      border: 1px solid #fff;
      border-radius: 20px;
      margin-right: 2.1875em;
      margin-bottom: 1.875em;
      list-style-type: none;
   }
   .conditions-item:nth-child(3) {
      margin-right: 2.1875em;;
   }
   .conditions-item:nth-child(2n) {
      margin-right: 0;
   }
   .conditions-text {
      color: #FFF;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
   }
   
   .conditions-decortext--size {
      font-size: 2rem;
      /* line-height: 49px; */
      letter-spacing: -0.12em;
   
   }
   .reviews-message__text {
      padding: 0;
      margin: 0;
      /* width: 688px; */
      width: 100%;
      color: #000;
      font-size: 0.7rem;
      font-style: normal;
      font-weight: 500;
      /* line-height: 145%; 23.2px */
   }
   .reviews-arrows {
      /* width: 83em; */
      width: 83%;
      margin-left: 2.875em;
      display: flex;
      justify-content:space-between;
   }
   .footer-content__btn {
      width: 14.941em;
      height: 4.64705882em;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
   }

}
/*
@media (max-width: 480px) {
   .page {
      width: 100%; 
   }
   .page-container {
      width: 80%;
      margin: 0 auto;
   }
}

@media (max-width: 320px) {
   .page {
      width: 100%; 
   }
   .page-container {
      width: 80%;
      margin: 0 auto;
   }
} */

